html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

header {
    width: 100%; /* 幅いっぱいを指定 */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    z-index: calc(infinity); /* 最前面に表示させる */
}

body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
    margin-bottom: 60px;
}

select option:checked {
    background: #ccf;
}

select:focus option:checked {
    /* フォーカス中の背景制御はただの色指定が効かないためグラデを使う。 */
    background: linear-gradient(#00c, #00c);
}

.btn_design {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    color: #0D6EFD;
    s -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s;
}

    /* マウスオーバー時 */
    .btn_design:hover, .btn_design:focus, .btn_design:active {
        color: #0000ee;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
    }

    /* クリック時 */
    .btn_design:active {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        cursor: pointer;
    }

/* 数字がマイナスの場合に赤字にする */
.negative {
    color: red;
}
