@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SampleCRM</h1>
    <img style="width:250px;"
         src="https://avatars.githubusercontent.com/u/108661727?v=4"
         alt="Rabbit Nishida" />
</div>
